.detail-container{
    display: flex;
    flex-direction: column;
}
.box, .box1{
    width: 650px;
    height: 70px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.box1{
    top: 60%;
}
.email-input{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    border: 2px solid white;
    color: white;
        background-color: #004d99;

    padding: 3px;
}
.email-span{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: 0.5s;
    font-size: 20px;
    pointer-events: none;

}
.email-input:focus + .email-span, .email-input:valid + .email-span {
    top: 0;
    left: 35%;
    font-size: 20px;
    color: white;
    padding: 3px;
    background: transparent;
}

.box2{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 70%;
    left: 29%;
    font-size: 20px;
 color: white;  
 width: 650px;
 justify-content: space-between; 
}
.box2 p{
margin-top: 0;
}
.input{
width: 20px;
height: 20px;
margin-right: 10px;
}
.box3{
    position: fixed;
    top: 80%;
left: 44%;
}
button{
    width: 250px;
    height: 70px;
    font-size: 30px;
color: #004d99;
}